/* ================================================================== 
Title:        userChrome.css for (advanced privacy)
Author:       WebDevAid
Author URI:   https://webdevelopmentaid.wordpress.com
Date:         23oct2014
================================================================== */

/*
Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

#nav-bar {
background-color: #33FF33 !important;
}